*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# Swap files.
*.swp

# Documenter.jl
docs/build

# Model output
*.dat

# Checkpointer model serialization
*.jlser

# Plots
*.png
*.gif
*.mp4
