# Julia stuff
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# Swap files.
*.swp
*~

# Documenter.jl and MkDocs
docs/build
docs/site

# Model output
*.dat
*.nc

# Checkpointer model serialization
*.jlser
*.jld

# Plots
*.gif
*.mp4

# Jupyter Lab stuff and notebooks
*.ipynb
.ipynb_checkpoints

$ MacOS stuff
*.DS_Store
