language: julia

os:
  - linux
  - osx

julia:
  - 1.0
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: true

after_success:
  - julia -e 'import Pkg; cd(Pkg.dir("Oceananigans")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
