name = "JULES"
uuid = "216628ba-da5e-11e9-0e9d-731cbc3ee0ea"
authors = ["Tristan Abbott", "Ali Ramadhan", "Raphael Rousseau-Rizzi"]
version = "0.1.0"

[compat]
julia = "1.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
