name: ConservativeRegridding

on:
  pull_request:
    paths:
      - '.github/workflows/conservative_regridding.yml'
      - 'ext/OceananigansConservativeRegriddingExt.jl'
      - 'test/test_conservative_regridding.jl'
      - 'Project.toml'
  push:
    branches:
      - main
    tags: '*'
    paths:
      - '.github/workflows/conservative_regridding.yml'
      - 'ext/OceananigansConservativeRegriddingExt.jl'
      - 'test/test_conservative_regridding.jl'
      - 'Project.toml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  conservative_regridding:
    name: ConservativeRegridding - Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
        os:
          - ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          TEST_GROUP: "conservative_regridding"

